:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    display: flex;
    align-items: center;
  }
  
  .alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
  }

  .msg-container {
    position: fixed;
    margin-left: 1rem;
    margin-right: 1rem;
    bottom: 0px;
    z-index: 105;
  }

  span {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #2C323A;
  }

  button {
    width: auto;
    height: auto;
    margin-left: 1rem;

    &.close>span {
      margin-top: 0.125rem;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  img.loader {
    height: 1.5rem;
    margin-left: 0.625rem;
  }
}