:host {

  select.select-css {
    background-color: transparent;
    width: auto;
    padding-right: 1.5rem;
    border-radius: 0;
  }

  button.purple {
    width: 100%;
    border-radius: 0.5rem;
  }
}